{% load my_tags %}
<div class="col-sm-3">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h5 class="my-0 font-weight-normal">{{ object.name|title }}</h5>
        </div>
        <div class="card-body">
            <img class="card-img-top"
                 src="{{ object.photo|mediapath }}"
                 alt="card image cap">
            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                <li><h6>Краткое описание:</h6>{{ object.description|truncatechars:100 }}</li>
                <li><h6>Цена:</h6>{{ object.price }}</li>
                <li><h6>{{ object.category }}</h6></li>
                <li>
                    {% if object.version_set.all %}
                        <ul>
                            {% for version in object.version_set.all %}
                                {% if version.is_active %}
                                    <h6>Доступные версии продукта:</h6>
                                    <li>{{ version.version_name }} ({{ version.version_number }})</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            </ul>
            <div class="card-footer">
                <button type="button" class="btn btn-lg btn-block btn-outline-success">Купить</button>
                <a class="p-2 btn btn-lg btn-outline-primary"
                   href="{% url 'catalog:view_product' object.pk %}">Посмотреть</a>
            </div>
        </div>
    </div>
</div>