{% extends 'catalog/base.html' %}
{% block content %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Контакты</h1>
    </div>

    <div class="row text-start">
        <div class="col-lg-9 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <table class="table table-striped">
                        <tr>
                            <td class="w-25">Страна</td>
                            <td>Poland</td>
                        </tr>
                        <tr>
                            <td class="w-25">ИНН</td>
                            <td>11-1234567</td>
                        </tr>
                        <tr>
                            <td class="w-25">Адрес</td>
                            <td>Poland,Warsaw,02-787</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Свяжитесь с нами</h4>
                </div>
                <div class="card-body">
                    <form method="post" action="" class="form-floating">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name">Имя</label>
                            <input type="text" name="name" class="form-control" id="name" placeholder="Ваше имя"
                                   required>
                        </div>
                        <div class="mb-3">
                            <label for="phone">Телефон</label>
                            <input type="text" name="phone" class="form-control" id="phone"
                                   placeholder="Контактный телефон" required>
                        </div>
                        <div class="mb-3">
                            <label for="message">Сообщение</label>
                            <textarea type="text" name="message" class="form-control" id="message"
                                      placeholder="Сообщение" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-lg btn-block btn-outline-dark">Отправить</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div>
        <ul class="list-group">
            {% for contact in object_list %}
                <li class="list-group-item">{{ contact.name }}</li>
                <li class="list-group-item">Email: {{ contact.email }}</li>
                <li class="list-group-item">Телефон: {{ contact.phone }}</li>
                <li class="list-group-item">Адрес: {{ contact.address }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}