{% extends 'catalog/base.html' %}
{% block content %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Каталог наших товаров</h1>
    </div>

    <div class="row text-center mb-4">

        <div class="col-sm-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h5 class="my-0 font-weight-normal">Добавление товара</h5>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li><h6>Здесь вы можете</h6></li>
                        <li><h6>Разместить свой товар</h6></li>
                        <li><h6>Возможно добавление</h6></li>
                        <li><h6>Описания, фото и цены</h6></li>
                    </ul>
                    <div class="card-footer">
                        <a class="p-2 btn btn-lg btn-outline-primary"
                           href="{% url 'catalog:create_product' %}">Добавить товар</a>
                    </div>
                </div>
            </div>
        </div>

        {% for object in object_list %}
            {% include 'catalog/includes/inc_product.html' %}
        {% endfor %}
    </div>

{% endblock %}