{% extends 'catalog/base.html' %}
{% block content %}
    <div class="container">
        <form method="post" action="" class="form-floating" enctype="multipart/form-data">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-12">

                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            {% if object %}
                                <h5 class="my-0 font-weight-normal">Заполните форму для
                                    редактирования {{ object.name }}</h5>
                            {% else %}
                                <h5 class="my-0 font-weight-normal">Заполните форму для добавления своего
                                    товара</h5>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            {% csrf_token %}
                            Наименование продукта:
                            {{ form.name }}<br/>
                            Описание:
                            {{ form.description }}<br/>
                            Изображение:
                            {{ form.photo }}<br/>
                            Категория:
                            {{ form.category }}<br/>
                            Цена:
                            {{ form.price }}<br/>
                            {% if perms.catalog.set_published %}
                                Опубликовать: {{ form.is_published }}<br/>
                            {% endif %}
                            <br/>
                            {% if object %}
                                <button type="submit" class="btn btn-lg btn-block btn-outline-dark">Сохранить
                                    продукт
                                </button>
                            {% else %}
                                <button type="submit" class="btn btn-lg btn-block btn-outline-dark">Добавить в
                                    каталог
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if object %}
                    {% if user == object.owner or user.is_superuser %}
                        <div class="col-lg-5 col-md-6 col-sm-12">
                            <div class="card mb-4 box-shadow">
                                <div class="card-header">
                                    <h5>Версии продукта {{ object.name }} </h5>
                                </div>
                                <div class="card-body">
                                    {{ formset.management_form }}
                                    {% for form in formset.forms %}
                                        {{ form.as_p }}
                                        {% if forloop.revcounter0 != 0 %}
                                            <hr>
                                            <br/>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}
